*.iml
.gradle
/local.properties
/app/src/androidTest/.idea/caches
/app/src/androidTest/.idea/libraries
/app/src/androidTest/.idea/modules.xml
/app/src/androidTest/.idea/workspace.xml
/app/src/androidTest/.idea/navEditor.xml
/app/src/androidTest/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
